#cloud-config

hostname: ${hostname}

ssh_pwauth: yes

packages:
    - python3

chpasswd:
  list: |
    root:${hashed_passwd}
  expire: False

users:
  - name: ${username}
    passwd: ${hashed_passwd}
    shell: /bin/bash
    lock_passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: [adm, sudo]
    ssh_authorized_keys:
%{ for authorized_key in authorized_keys ~}
      - ${authorized_key}
%{ endfor ~}

write_files:
  - encoding: base64
    content: ${netplan_base64}
    path: /etc/netplan/50-cloud-init.yaml
%{ if server_init_base64 != null }
  - encoding: base64
    content: ${server_init_base64}
    path: /root/server_init.sh
%{ endif ~}
%{ for config_file in config_files ~}
  - encoding: base64
    content: ${config_file.content}
    path: ${config_file.path}
    owner: ${config_file.owner}
    permissions: ${config_file.permissions}
%{ endfor ~}

#power_state:
#  delay: "+1"
#  mode: reboot
#  timeout: 180
#  condition: True

runcmd:
  - netplan apply
%{ if server_init_base64 != null }
  - bash /root/server_init.sh | logger --tag server_init
%{ endif ~}

